---
layout: default
layout-type: 
custom-stylesheet: 
transition: 
---

<div class="wrapper">

  <div class="heading">
    <div class="media d-block d-md-flex pb-5">
      <div class="mr-5">
        <img class="rounded-circle" src="{{ site.baseurl }}/assets/img/profile-picture.jpg" width="176" height="176" alt="">
      </div>
      <div class="media-content align-self-center">
        <div class="heading pt-0">
          <h1 class="heading-title">Hi! I'm <b>Jasper</b>.<br>I <b>design</b> stuffs.</h1>
          <p class="heading-subtitle lead">I'm a Full-Stack Designer based in the Philippines. I love to solve design problems and isn't afraid to code.</p>  
        </div>
        <div class="grid" id="whoiam">
          <div>
            <!-- <img class="mb-3" src="/assets/img/design-tool.svg" alt="" width="48"> -->
            <p class="lead"><b>Designer</b></p>
            <p>I value simple content structure, clean design patterns, and thoughtful interactions.</p>
          </div>
          <div>
            <!-- <img class="mb-3" src="/assets/img/code.svg" alt="" width="48"> -->
            <p class="lead"><b>Coder</b></p>
            <p>I enjoy coding my own designs with modern HTML, CSS and basic JavaScript.</p>
          </div>
          <div>
            <!-- <img class="mb-3" src="/assets/img/solution.svg" alt="" width="48"> -->
            <p class="lead"><b>Thinker</b></p>
            <p>I love solving business problems with design solutions that delights the users.</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>




<div class="wrapper">
  <div class="heading">
    <h2 class="heading-title">My Experience.</h2>
    <p class="heading-subtitle lead">Over the past 6 years, I've designed products and helped tailor experiences for some amazing brands.</p>
  </div>
  <div class="grid" id="work-exprience">
    {% for work in site.data.resume.employment-history %}
      <div>
        <p class="lead mb-0"><b><a href="{{ work.website }}" target=”_blank”>{% if work.short-company %} {{ work.short-company }} {% else %} {{ work.company }} {% endif %}</a></b></p>
        <p class="mb-0">{% if work.common-position %} {{ work.common-position }} {% else %} {{ work.position }} {% endif %}</p>
        <p class="text-muted mb-0">{{ work.start-date | date: "%b %Y" }} <i>to</i> {% if work.end-date %}{{ work.end-date | date: "%b %Y" }}{% else %}Present {% endif %}</p>
      </div>
    {% endfor %}
  </div>
</div>

<div class="wrapper">
  <div class="heading">
    <h2 class="heading-title">My Works.</h2>
  </div>
  <div class="grid" id="portfolio">
    {% assign works = site.works | where: "categories", "featured"%}
    {% for work in works %}
      <a class="card shadow-sm" id="{{ work.name }}" target="_blank" href="{{ work.external-url | default: work.url }}">
        {% if work.thumbnail %}
          <img class="card-img-top" loading="lazy" src="{{ site.baseurl }}/assets/img/{{ work.thumbnail }}" alt="" />
          {% else %}
          <img class="card-img-top" loading="lazy" src="https://dummyimage.com/1600x1200/fafafa/fafafa.png" alt="" />
        {% endif %}
        <div class="card-body">
          <ul class="list-inline">
            {% for tag in work.tags %}
              <li class="list-inline-item">{{ tag }}</li>
            {% endfor %}
          </ul>
          <p class="card-title lead"><b>{{ work.title }}</b></p>
          <p class="card-text">{{ work.description }}</p>
        </div>
      </a>
    {% endfor %}
  </div>
</div>
