{% if form.layout == horizontal%}
  <div class="form-group row">
  {% if field.type == "divider" %}
    <hr class="dashed">
    {% else %}
    {% include components/atoms/fields/label.html %}
    <div class="{{ field.field-size | default: 'col-md-6' }}">
      {% include components/atoms/fields.html %}
      {% include components/atoms/fields/helper.html %}
    </div>
  {% endif %}
  </div>
  {% else %}
  {% if field.type == "divider" %}
    <hr class="dashed">
    {% elsif field.type == "button" %}
      {% include components/atoms/buttons.html %}
    {% else %}
    <div class="form-group">
      {% include components/atoms/fields/label.html %}
      {% include components/atoms/fields.html %}
      {% include components/atoms/fields/helper.html %}
    </div>
  {% endif %}
{% endif %}
