{% if field.type == "divider" %}
  <hr class="dashed">
{% elsif field.type == "button" %}
  {% include components/atoms/buttons.html %}
{% else %}
  {% if form.layout == "horizontal" %}
    <div class="form-group row">
      {% include components/atoms/fields/label.html %}
      <div class="{{ field.field-size | default: 'col-md-6' }}">
        {% if field.icon %}
          <div class="form-icon form-icon-{{ field.icon-placement | default: "left" }}">
            {% include components/atoms/fields.html %}
            {% include components/atoms/fields/icon.html %}
          </div>
          {% else %}
          {% include components/atoms/fields.html %}            
        {% endif %}
        {% include components/atoms/fields/helper.html %}
      </div>
    {% else %}
    <div class="form-group">
      {% include components/atoms/fields/label.html %}
        {% if field.icon %}
          <div class="form-icon form-icon-{{ field.icon-placement | default: "left" }}">
            {% include components/atoms/fields.html %}
            {% include components/atoms/fields/icon.html %}
          </div>
          {% else %}
          {% include components/atoms/fields.html %}            
        {% endif %}
      {% include components/atoms/fields/helper.html %}
    </div>
  {% endif %}
  </div>
{% endif %}
