---
layout: base
layout-type: #container | container-fluid
custom-stylesheet: 
---

<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
  <a class="navbar-brand" href="{{ site.baseurl }}/"><b>JASPER LEPARDO</b></a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="tel:{{ site.data.personal-information.mobile-number }}"><i class="fas fa-mobile-alt"></i>{{ site.data.personal-information.mobile-number }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="mailto:{{ site.data.personal-information.email-address }}"><i class="far fa-envelope"></i>{{ site.data.personal-information.email-address }}</a>
      </li>
    </ul>
    <form class="form-inline ml-auto">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <a class="btn btn-primary btn-lg" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/jsprlprd'});return false;">Let's connect</a>
    </form>
  </div> -->
</nav>

<main class="{% if page.layout-type %}{{page.layout-type}}{% else %}{{ layout.layout-type | default: 'container'}}{%endif%}">
  {{ content }}
</main>

<footer class="bg-dark text-white d-print-none">
  <div class="container">
    <div class="heading">
      <h1 class="heading-title display-1">Let's connect.</h1>
      <h3 class="heading-title">email <a href="mailto:{{ site.data.personal-information.email-address }}">{{ site.data.personal-information.email-address }}</a></h1>  
    </div>
    <p><b>Social Media</b></p>
    <ul class="list-inline" id="social-media">
      {% for social-media in site.data.personal-information.social-media %}
        <li class="list-inline-item">
          <a href="{{ social-media.url }}"><i class="{{ social-media.icon }}"></i></a>
        </li>
      {% endfor %}
    </ul>
    <p>Copyright © <span id="current-year"></span> Jasper Lepardo. <br class="d-lg-none"/> All rights reserved.</p>
  </div>
</footer>

